<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <title>S3 details</title>
</head>
<body>
    <form action = "/bucket_list" method="post">
        <input class="btn waves-effect waves-light" type="submit" value="Get Buckets">

    </form>

</body>
</html>